.user-page
  .user-page__main
    .user-page__main__background-image

  .user-page__profile
    .user-page__profile__content
      .user-page__profile__content__name
        = @user.nickname
      .user-page__profile__content__text
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "user-logout"
        -# ユーザーの自己紹介蘭（作成中）
        -# = form_with model: @user, class: :form, local: true do |form|
        -#   = form.file_field :background_image, placeholder: :画像URL, class: :form_background_image
        -#   = form.submit '背景画像設定', class: :form_btn
  .user-page__posts
    .user-page__posts__box
      - @posts.each do |post|
        .user-page__posts__box__content
          .user-page__posts__box__content__background
            .user-page__posts__box__content__background__image{:style => "background-image: url(#{post.image});"}
          .user-page__posts__box__content__title
            = link_to post.title, post_path(post.id), class: "user_post_title"
          .user-page__posts__box__content__text
            = post.content



  -#   .user-page__midle-box__details
  -#     .user-page__midle-box__details__to-follow
  -#       フォローする
  -# .user-page__lower-box
  -#   %ul.user-page__lower-box__header
  -#     %li.post-image 投稿
  -#     %li.my-followers フォロワー
  -#     %li.my-follow フォロー
  -#   .user-page__lower-box__content
  -#     .user-page__lower-box__content__text
  -#       - @posts.each do |post|
  -#         .post-box
  -#           .post-content
  -#             = link_to post.title, post_path(post.id), class: :image_post