.sign-in-page
  .sign-in-page__main
    %h2.sign-in-title-message アカウントログイン
    %h4.sign-in-text メールアドレスとパスワードを入力してください
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :メールアドレス
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :パスワード
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :内容を保存しますか？
      .actions
        = f.submit "ログイン", class: "sign-in-btn"
