.post-edit
  .post-edit__main
    .post-edit__main__forms  
      = form_with model: @post, class: :form, local: true do |form|
        = form.file_field :image, placeholder: :画像URL, class: :form_image
        = form.text_field :title, placeholder: :記事タイトル, class: :form_title
        = form.text_area :content, placeholder: :記事本文, class: :form_text
        = form.submit '編集完了', class: :form_btn
