.article-header
.article-page
  .article-page__image{style: "background-image: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg);"}
    .article-page__image__left
      .article-page__image__left__box
        - @posts.each do |post|
          .article-page__image__left__box__contents
            .post-content__header
              .post-content__header__box
                .post-content__header__box__user-name
                  = link_to post.user.nickname, user_path(post.user_id),class: "post-content__header" 
                .post-content__header__box__title
                  = link_to post.title, "/posts/#{post.id}", class: "post-content__header"
            .post-content__image
              .post-content__image__box{:style => "background-image: url(#{post.image});"}
            .post-content__footer
              .post-content__footer__box
                = post.created_at

    .article-page__image__right
      .article-page__image__right__box



