<div class="post-image-n" style="background-image: url(https://cdn.pixabay.com/photo/2014/09/05/18/34/book-436512_1280.jpg);">
  <%# <h3 class="page-name">■新規投稿ページ</h3> %>
  <div class="content1">
    <div class="content1-box">
      <%= form_with model: @post, class: :form, local: true do |form| %>
        <%= form.text_field :title, placeholder: :記事タイトル, class: :form__title %>
        <%= form.text_field :image, placeholder: :画像URL, class: :form__image %>
        <%= form.text_area :content, placeholder: :記事本文, class: :form__text %>
        <%= form.submit '投稿する', class: :form__btn %>
      <% end %>
    </div>
  </div>
</div>
